* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: justify;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem 0;
	background-color: #3a3a39;
	color: #3a3a39;
}

main#site-content {
	width: 70vw;
	font-family: "EB Garamond";
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 1;
}

main#site-content>section {
	width: 100%;
	background-color: #ebebdf;
	max-width: 1200px;
	padding: 3.8vw 8vw;
	border-radius: 15px;
}

main#site-content>section:not(:nth-child(1)) {
	margin-top: 2.5rem;
}

section#helps-segment {
	padding: 5vw 8vw !important;
}

span#page-title {
	font-variation-settings: "wght" 950;
	font-size: 4.2rem;
	margin-bottom: 1rem;
	display: block;
	text-align: left;
}

div#helps-container {
	display: flex;
	font-size: 1.5rem;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

div#introboys {
	margin-bottom: 2.6rem;
	font-size: 1.6rem;
}

div.item-container:not(:last-child) {
	margin-bottom: 4rem;
}

div.item-container {
	width: 95%;
}

div.item-container>span:nth-child(1) {
	font-size: 1.5rem;
	font-variation-settings: "wght" 600;
}

div#references {
	margin-top: 0rem;
	display: flex;
	flex-direction: column;
}

div#references > span:nth-child(1) {
	display: block;
}

div#references > span:not(:nth-child(1)) {
	padding-left: 1.5rem;
}


@font-face {
	font-family: "EB Garamond";
	src: url("fonts/EBGaramond-VariableFont_wght.ttf")
}
